.grid-container {
    display: grid;
    row-gap: 3vh;
    grid-template-columns: auto auto auto auto;
    background-color: #080808;
    padding-left: 7vw;
    padding-top: 9vh;
    padding-bottom: 15vh;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 1vh;
    padding: 2vh;
    font-size: 3.5vh;
    height: 20vh;
    width: 15vw;
  }

.input-list-cards {
    float: center;
    position: relative;
    top: 2vh;
    height: 7vh;
    width: 15vw;
    border-radius: 1%;
    border: 1% solid rgba(0, 0, 0, 0.8);
    font-size: 3vh;
}

.input-list-cards::placeholder {
    font-size: 3vh;
}

.list-screen-background {
    background-color: #080808;
    height: 100%;
    width: 100%;
}